{{set root="."}}
{{set pageId="main"}}
{{>header title="메인" cssName="main"}}
<section id="img-layer-carousel" class="main-img-area carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="{{root}}/img/main_img_01.jpg" class="main-img">
			<div class="carousel-caption d-none d-md-block">
				<div class="product-name">
					NIKE JORDAN 01
				</div>
				<div class="release-date">
					2017 / 04 / 01 Sat
				</div>
			</div>
		</div>
		<div class="item">
			<img src="{{root}}/img/main_img_02.jpg" class="main-img">
			<div class="carousel-caption d-none d-md-block">
				<div class="product-name">
					NIKE JORDAN 02
				</div>
				<div class="release-date">
					2017 / 04 / 08 Sat
				</div>
			</div>
		</div>
		<div class="item">
			<img src="{{root}}/img/main_img_03.jpg" class="main-img">
			<div class="carousel-caption d-none d-md-block">
				<div class="product-name">
					NIKE JORDAN 03
				</div>
				<div class="release-date">
					2017 / 04 / 15 Sat
				</div>
			</div>
		</div>
		<div class="item">
			<img src="{{root}}/img/main_img_04.jpg" class="main-img">
			<div class="carousel-caption d-none d-md-block">
				<div class="product-name">
					NIKE JORDAN 04
				</div>
				<div class="release-date">
					2017 / 04 / 22 Sat
				</div>
			</div>
		</div>
	</div>
	<div class="view-details" style="display: none">
		<!--해당 img 상품의 상세페이지 URL-->
		<a href="#">
			View Details
			<div class="fa fa-angle-double-right"></div>
		</a>
	</div>
	<!-- Control-arrows -->
	<section class="control-arrows-area">
		<a class="left carousel-control" href="#img-layer-carousel" role="button" data-slide="prev">
			<span class="slide-arrow fa fa-chevron-circle-left" aria-hidden="true"></span>
		</a>
		<a class="right carousel-control" href="#img-layer-carousel" role="button" data-slide="next">
			<span class="slide-arrow fa fa-chevron-circle-right" aria-hidden="true"></span>
		</a>
	</section>
</section>
<section class="title market-title">
	<span>Market</span>
</section>
<section class="menu-category">
	<ul>
		<li menu-category-detail="ALL" class="active">
			ALL
		</li>
		<li menu-category-detail="PALACE" >
			PALACE
		</li>
		<li menu-category-detail="NIKE">
			NIKE
		</li>
		<li menu-category-detail="SUPREME">
			SUPREME
		</li>
	</ul>
</section>
<section class="contents-wrapper main">
	<ul class="list product-list">
	</ul>
</section>
<section class="view-more">
	<div class="view-more-text">
		더 많은 상품 보기
	</div>
	<div class="fa fa-angle-double-right"></div>
</section>
{{>footer jsName="main"}}
