{{set root="."}}
{{set pageId="main"}}
{{>header title="메인" cssName="main"}}
<section class="main-img-area">
	<div class="main-img-dark"></div>
	<img src="{{root}}/img/main_img_01.jpg" class="main-img">
	<div class="view-details">
		<!--해당 img 상품의 상세페이지 URL-->
		<a href="#">
			View Details
			<div class="fa fa-angle-double-right"></div>
		</a>
	</div>
</section>
<section class="main-img-rolling-area">
	<div class="slide-arrow fa fa-chevron-circle-left"></div>
	<div class="img-text">
		<div class="product-name">
			NIKE JORDAN
		</div>
		<div class="release-date">
			2017 / 04 / 22 Sat
		</div>
	</div>
	<div class="slide-arrow fa fa-chevron-circle-right"></div>
</section>
<section class="title market-title">
	<span>Market</span>
</section>
<section class="menu-category">
	<ul>
		<li menu-category-detail="all" class="active">
			ALL
		</li>
		<li menu-category-detail="palace" >
			PALACE
		</li>
		<li menu-category-detail="nike">
			NIKE
		</li>
		<li menu-category-detail="supreme">
			SUPREME
		</li>
	</ul>
</section>
<section class="contents-wrapper main">
	<ul class="list product-list">
		<li product-id="#">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심결제
						</li>
					</ul>
					<div class="view-details">
						<a href="#">더보기
							<div class="fa fa-angle-double-right"></div>
						</a>
					</div>
				</div>
			</div>
		</li>
		<li product-id="#">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심결제
						</li>
					</ul>
					<div class="view-details">
						<a href="#">더보기
							<div class="fa fa-angle-double-right"></div>
						</a>
					</div>
				</div>
			</div>
		</li>
		<li product-id="#">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심결제
						</li>
					</ul>
					<div class="view-details">
						<a href="#">더보기
							<div class="fa fa-angle-double-right"></div>
						</a>
					</div>
				</div>
			</div>
		</li>
		<li product-id="#">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심결제
						</li>
					</ul>
					<div class="view-details">
						<a href="#">더보기
							<div class="fa fa-angle-double-right"></div>
						</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>
<section class="view-more">
	<div class="view-more-text">
		더 많은 상품 보기
	</div>
	<div class="fa fa-angle-double-right"></div>
</section>
{{>footer jsName="main"}}
