{{set root=".."}}
{{>header title="마켓" cssName="market"}}
<section class="title market-title">
	<span>Market</span>
</section>
<section class="menu-category">
	<ul>
		<li menu-category-detail="all">
			ALL
		</li>
		<li menu-category-detail="palace">
			PALACE
		</li>
		<li menu-category-detail="nike">
			NIKE
		</li>
		<li menu-category-detail="supreme">
			SUPREME
		</li>
	</ul>
</section>
<section class="contents-wrapper">
	<section class="filter">
		<ul>
			<ul>
				<li class="filter-search active">
					<input type="text" class="form-control filter-search-box" placeholder="검색">
					<i class="fa fa-search"></i>
				</li>
				<li class="filter-series active">
					Series
					<i class="glyphicon glyphicon-th-large"></i>
				</li>
			</ul>
			<ul class="filter-dropdown">
				<li>
					<select class="form-control category-select">
						<option>Category</option>
						<option>상의</option>
						<option>하의</option>
						<option>신발</option>
						<option>잡화</option>
					</select>
				</li>
				<li>
					<select class="form-control size-select">
						<option value="default" selected>Size</option>
						<option value="size-230" >230이하</option>
						<option value="size-240">240</option>
						<option value="size-250">250</option>
						<option value="size-260">260</option>
						<option value="size-270">270</option>
						<option value="size-280">280</option>
						<option value="size-290">290</option>
						<option value="size-300">300이상</option>
					</select>
				</li>
				<li>
					<select class="form-control quality-select">
						<option>Quality</option>
						<option>중고</option>
						<option>새제품</option>
					</select>
				</li>
			</ul>
		</ul>
	</section>
	<div class="market-contents list-header">
		<div class="main-product-name active">
			NAME
		</div>
		<ul class="product-price-order">
			<li class="price-low active">
				Low Price
			</li>
			<li class="price-high">
				High Price
			</li>
		</ul>
	</div>
	<ul class="list like-list">
		<li product-id="#">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심결제
						</li>
					</ul>
					<div class="seller-info">
						<div class="info-label">판매자</div>
						<div class="seller-rank fa fa-star"></div>
						<div class="seller-name">
							수현이당당다랑
						</div>
					</div>
				</div>
			</div>
			<div class="board-info">
				<div class="like">
					<span class="fa fa-heart-o"></span>
					10
				</div>
				<div class="comment">
					<span class="fa fa-commenting-o"></span>
					10
				</div>
				<div class="complain">
					<span class="fa fa-thumbs-o-down"></span>
					10
				</div>
				<div class="hits">
					<span class="fa fa-eye"></span>
					1,000
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
			</div>

			<div class="list-selector like fa fa-heart" valid="true"></div>
		</li>
		<li product-id="#" process="complete">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심결제
						</li>
					</ul>
					<div class="seller-info">
						<div class="info-label">판매자</div>
						<div class="seller-rank fa fa-star"></div>
						<div class="seller-name">
							수현이당당다랑
						</div>
					</div>
				</div>
			</div>
			<div class="board-info">
				<div class="like">
					<span class="fa fa-heart-o"></span>
					10
				</div>
				<div class="comment">
					<span class="fa fa-commenting-o"></span>
					10
				</div>
				<div class="complain">
					<span class="fa fa-thumbs-o-down"></span>
					10
				</div>
				<div class="hits">
					<span class="fa fa-eye"></span>
					1,000
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
			</div>
			<div class="list-selector like fa fa-heart-o" valid="false"></div>
		</li>
		<li product-id="#" process="blind">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심결제
						</li>
					</ul>
					<div class="seller-info">
						<div class="info-label">판매자</div>
						<div class="seller-rank fa fa-star"></div>
						<div class="seller-name">
							수현이당당다랑
						</div>
					</div>
				</div>
			</div>
			<div class="board-info">
				<div class="like">
					<span class="fa fa-heart-o"></span>
					10
				</div>
				<div class="comment">
					<span class="fa fa-commenting-o"></span>
					10
				</div>
				<div class="complain">
					<span class="fa fa-thumbs-o-down"></span>
					10
				</div>
				<div class="hits">
					<span class="fa fa-eye"></span>
					1,000
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
			</div>
			<div class="list-selector like fa fa-heart-o" valid="false"></div>
		</li>
		<li product-id="#" process="processing">
			<div class="product-info">
				<img class="product-img" src="{{root}}/img/shoes.jpg">
				<div class="detail-info">
					<div class="product name">
						에어 조던 14 Black Pink New
					</div>
					<div class="product price">
						<i class="fa fa-won"></i>
						200,000
					</div>
					<div class="product size">
						235mm
					</div>
					<div class="product quality">
						새제품
					</div>
					<ul class="product dealing-mode">
						<li class="dealing-mode directly">
							직접거래
						</li>
						<li class="dealing-mode delivery">
							택배거래
						</li>
						<li class="dealing-mode safety">
							안심결제
						</li>
					</ul>
					<div class="seller-info">
						<div class="info-label">판매자</div>
						<div class="seller-rank fa fa-star"></div>
						<div class="seller-name">
							수현이당당다랑
						</div>
					</div>
				</div>
			</div>
			<div class="board-info">
				<div class="like">
					<span class="fa fa-heart-o"></span>
					10
				</div>
				<div class="comment">
					<span class="fa fa-commenting-o"></span>
					10
				</div>
				<div class="complain">
					<span class="fa fa-thumbs-o-down"></span>
					10
				</div>
				<div class="hits">
					<span class="fa fa-eye"></span>
					1,000
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
			</div>
			<div class="list-selector like fa fa-heart-o" valid="false"></div>
		</li>
	</ul>
	<section class="more-list">
		More
		<span class="fa fa-angle-down"></span>
	</section>
	<section class="resell-btn write-btn">
		판매 등록
		<i class="fa fa-pencil"></i>
	</section>
</section>



<section class="pop-up-series" style="display: none">
	<ul>
		<li>
			<img src="{{root}}/img/jordan1.png">
			<div>Jordan 1</div>
		</li>
		<li>
			<img src="{{root}}/img/jordan2.png">
			<div>Jordan 2</div>
		</li>
		<li>
			<img src="{{root}}/img/jordan3.png">
			<div>Jordan 3</div>
		</li>

	</ul>
	<ul>
		<li>
			<img src="{{root}}/img/jordan4.png">
			<div>Jordan 4</div>
		</li>
		<li>
			<img src="{{root}}/img/jordan5.png">
			<div>Jordan 5</div>
		</li>
		<li>
			<img src="{{root}}/img/jordan6.png">
			<div>Jordan 6</div>
		</li>
	</ul>
	<ul>
		<li>
			<img src="{{root}}/img/jordan7.png">
			<div>Jordan 7</div>
		</li>
		<li>
			<img src="{{root}}/img/jordan8.png">
			<div>Jordan 8</div>
		</li>
		<li>
			<img src="{{root}}/img/jordan9.png">
			<div>Jordan 9</div>
		</li>
	</ul>
	<ul>
		<li>
			<img src="{{root}}/img/jordan10.png">
			<div>Jordan 10</div>
		</li>
		<li>
			<img src="{{root}}/img/jordan11.png">
			<div>Jordan 12</div>
		</li>
		<li>
			<img src="{{root}}/img/jordan12.png">
			<div>Jordan 13</div>
		</li>
	</ul>
	<ul>
		<li>
			<img src="{{root}}/img/jordan13.png">
			<div>jordan 13</div>
		</li>
		<li>
			<img src="{{root}}/img/ect.png">
			<div>ect</div>
		</li>
	</ul>
	<div class="popup-close"></div>
</section>
{{>footer jsName="market"}}
