{{set root=".."}}
{{set pageId="market-detail"}}
{{>header title="market-detail" cssName="market-detail"}}
<section class="product-img-layer">
	<div class="product-img-layer-header">
		<div class="gallery-title">상품 사진</div>
		<div class="close-icon"></div>
	</div>
	<div id="img-layer-carousel" class="product-img-area carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#img-layer-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#img-layer-carousel" data-slide-to="1"></li>
			<li data-target="#img-layer-carousel" data-slide-to="2"></li>
			<li data-target="#img-layer-carousel" data-slide-to="3"></li>
			<li data-target="#img-layer-carousel" data-slide-to="4"></li>
			<li data-target="#img-layer-carousel" data-slide-to="5"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src='{{root}}/img/product_img_01.jpg'>
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src='{{root}}/img/product_img_02.jpg'>
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src='{{root}}/img/product_img_03.jpg'>
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src='{{root}}/img/product_img_04.jpg'>
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src='{{root}}/img/product_img_05.jpg'>
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src='{{root}}/img/product_img_06.jpg'>
				<div class="carousel-caption">
				</div>
			</div>
		</div>
		<!-- Control-arrows -->
		<a class="left carousel-control" href="#img-layer-carousel" role="button" data-slide="prev">
		<span class="fa fa-angle-left" aria-hidden="true"></span>
		</a>
		<a class="right carousel-control" href="#img-layer-carousel" role="button" data-slide="next">
			<span class="fa fa-angle-right" aria-hidden="true"></span>
		</a>
	</div>
</section>
<div id="market-detail-img-carousel" class="product-img-area carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#market-detail-img-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#market-detail-img-carousel" data-slide-to="1"></li>
		<li data-target="#market-detail-img-carousel" data-slide-to="2"></li>
		<li data-target="#market-detail-img-carousel" data-slide-to="3"></li>
		<li data-target="#market-detail-img-carousel" data-slide-to="4"></li>
		<li data-target="#market-detail-img-carousel" data-slide-to="5"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="">
			<div class="product-img" style="background-image: url('{{root}}/img/product_img_01.jpg')"></div>
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<div class="product-img" style="background-image: url('{{root}}/img/product_img_02.jpg')"></div>
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<div class="product-img" style="background-image: url('{{root}}/img/product_img_03.jpg')"></div>
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<div class="product-img" style="background-image: url('{{root}}/img/product_img_04.jpg')"></div>
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<div class="product-img" style="background-image: url('{{root}}/img/product_img_05.jpg')"></div>
			<div class="carousel-caption">
			</div>
		</div>
		<div class="item">
			<div class="product-img" style="background-image: url('{{root}}/img/product_img_06.jpg')"></div>
			<div class="carousel-caption">
			</div>
		</div>
	</div>
	<!-- Control-arrows -->
	<a class="left carousel-control" href="#market-detail-img-carousel" role="button" data-slide="prev">
		<span class="fa fa-angle-left" aria-hidden="true"></span>
	</a>
	<a class="right carousel-control" href="#market-detail-img-carousel" role="button" data-slide="next">
		<span class="fa fa-angle-right" aria-hidden="true"></span>
	</a>
</div>
<section class="contents-wrapper market-detail">
	<div class="product-info">
		<div class="product name">

		</div>
		<div class="product price">

		</div>
		<div class="product size">


		</div>
		<div class="product quality">


		</div>
	</div>
	<div class="seller-info">
		<div class="seller name">
			<line></line>
			<div class="seller-rank" seller-rank=""></div>
			<div class="seller-name">수현이당당다랑</div>
		</div>
		<div class="seller selling-complete">
			<line></line>
			총 <span>3</span>건
		</div>
	</div>
	<div class="detail-description">
		<div class="info-label">
			상세 설명
		</div>
		<div class="user-description">

		</div>
	</div>
	<div class="dealing-mode">
		<div class="info-label">
			거래 방식
		</div>
		<div class="directly">
			<line></line>
			목동역,오목교역,18시 이후
		</div>
		<div class="delivery">
			<line></line>
			택배비 착불
		</div>
		<div class="safety">
			<line></line>
			가능
		</div>
	</div>
	<section class="resell-btn purchase">구매</section>
	<div class="board-info">
		<div class="like">
			<span class="fa fa-heart-o"></span>
			10
		</div>
		<div class="comment">
			<span class="fa fa-commenting-o"></span>
			10
		</div>
		<div class="complain">
			<span class="fa fa-thumbs-o-down"></span>
			10
		</div>
		<div class="hits">
			<span class="fa fa-eye"></span>
			1,000
		</div>
		<div class="reporting-date">
			<span class="fa fa-clock-o"></span>
			2017/03/31
		</div>
	</div>
	<div class="board-setting">
		<ul>
			<li class="board-update">
				수정
			</li>
			<li class="board-delete">
				삭제
			</li>
			<li class="board-complain">
				신고
			</li>
			<li class="board-clipboard">
				URL
			</li>
		</ul>
	</div>
	<div class="list-selector like fa fa-heart-o" valid="false"></div>
</section>
<section class="contents-wrapper market-detail comment">
	<div class="comment-header">
		comments
	</div>
	<ul class="comments-body">
		<li>
			<div class="comment-body">
				<div class="user-info">
					<i class="user-rank fa fa-star"></i>
					<div class="user-name">
						수현이다다다다다다다다다다다다다다다다다다다다다다다다
					</div>
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
				<div class="comment-content">
					얼마나 신었나요?
					<br>
					정품 맞나요?
				</div>
			</div>
			<ul class="comment-setting">
				<li class="comment-modify">수정</li>
				<li class="comment-delete">삭제</li>
				<li class="comment-complain">신고</li>
				<li class="comment-reply">답글</li>
			</ul>
		</li>
		<li>
			<i class="reply glyphicon glyphicon-arrow-right"></i>
			<div class="reply comment-body">
				<div class="user-info">
					<i class="user-rank fa fa-star"></i>
					<div class="user-name">
						수현이다다다다다다다다다다다다다다다다다다다다다다다다
					</div>
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
				<div class="comment-content">
					얼마나 신었나요?
					<br>
					정품 맞나요?
				</div>
			</div>
			<ul class="comment-setting">
				<li class="comment-modify">수정</li>
				<li class="comment-delete">삭제</li>
				<li class="comment-complain">신고</li>
				<li class="comment-reply">답글</li>
			</ul>
		</li>
		<li>
			<div class="comment-body">
				<div class="user-info">
					<i class="user-rank fa fa-star"></i>
					<div class="user-name">
						수현이다다다다다다다다다다다다다다다다다다다다다다다다
					</div>
				</div>
				<div class="reporting-date">
					<span class="fa fa-clock-o"></span>
					2017/03/31
				</div>
				<div class="comment-content">
					얼마나 신었나요?
					<br>
					정품 맞나요?
				</div>
			</div>
			<ul class="comment-setting">
				<li class="comment-modify">수정</li>
				<li class="comment-delete">삭제</li>
				<li class="comment-complain">신고</li>
				<li class="comment-reply">답글</li>
			</ul>
		</li>
	</ul>
	<section class="resell-btn write-comment fa fa-pencil-square-o">댓글 작성</section>
</section>








{{>footer jsName="market-detail"}}
