{{set root=".."}}
{{set pageId="market-detail"}}
{{>header title="market-detail" cssName="market-detail"}}
<div id="carousel-example-generic" class="product-img-area carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="{{root}}/img/product_img_01.jpg" alt="...">
			<div class="carousel-caption">
			</div>
		</div>
		<div class="item">
			<img src="{{root}}/img/product_img_02.jpg" alt="...">
			<div class="carousel-caption">
			</div>
		</div>
		<div class="item">
			<img src="{{root}}/img/product_img_03.jpg" alt="...">
			<div class="carousel-caption">
			</div>
		</div>
		<div class="item">
			<img src="{{root}}/img/product_img_04.jpg" alt="...">
			<div class="carousel-caption">
			</div>
		</div>
	</div>
	<!-- Control-arrows -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="fa fa-angle-left" aria-hidden="true"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="fa fa-angle-right" aria-hidden="true"></span>
	</a>
</div>
<section class="contents-wrapper market-detail">
	<div class="product-info">
		<div class="product name">
			에어 조던 14 Black Pink New
		</div>
		<div class="product price">
			200,000
		</div>
		<div class="product size">
			235mm
		</div>
		<div class="product quality">
			새제품
		</div>
	</div>
	<div class="seller-info"></div>
	<div class="detail-description">
		<div class="info-title">
			Details
		</div>
	</div>
	<div class="dealing-mode">
		<div class="info-title">
			Details
		</div>
		<div class="directly">
			<div class="info-label">
				직접 거래
			</div>
			<span for="directly">
				목동역,오목교역,18시 이후
				</span>
		</div>
		<div class="delivery">
			<div class="info-label">
				택배 거래
			</div>
			<span for="delivery">
				택배비 착불
				</span>
		</div>
		<div class="safety">
			<div class="info-label">
				안심 결제
			</div>
			<span for="safety">
					가능
				</span>
		</div>
	</div>
</section>








{{>footer jsName="market-detail"}}
