<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{root}}/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{root}}/apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/css/{{cssName}}.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
<button id="scroll-up-btn" class="fa fa-arrow-circle-up"></button>
<header class="admin-header">
	<div class="dark-layer"></div>
	<div class="logo">
		<a href="{{root}}/index.html">
			<div>
				ReSell <span>Admin</span>
			</div>
		</a>
	</div>
	<a href="{{root}}/admin/admin-main.html">
		<i class="fa fa-home"></i>
	</a>
</header>
<div class="resell-container">
