<footer>

</footer>
</div>
<script>
	window._ctx = {
		root: "{{root}}",
	};
</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/{{jsName}}.js"></script>
</body>
</html>
