</div>
<footer>
	<ul class="footer-company-info">
		<li class="company-name">(주)ReSell</li>
		<li>만든이 : 박재홍, 백미리, 백수현, 이상윤, 조영욱</li>
		<li>전화번호 : 010-0000-0000</li>
		<li>주소 : 서울특별시 마포구 백범로</li>
	</ul>
	<div class="footer-copyright">
		Copyright © 2017 <span>ReSell</span> All Rights Reserved
	</div>
</footer>
<script>
	window._ctx = {
		root: "{{root}}",
		pageId: "{{pageId}}"
	};
</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/{{jsName}}.js"></script>
</body>
</html>
