<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="{{root}}/apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/css/{{cssName}}.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<button id="scroll-up-btn" class="fa fa-arrow-circle-up"></button>
	<header class="header-transparent">
		<div class="dark-layer"></div>
		<div class="logo">
			<a href="http://localhost:84/index.html">
				<div>
					ReSell
				</div>
			</a>
		</div>
		<div class="header-search">
			<div class="search-icon white fa fa-search"></div>
			<div class="search-bar">
				<input id="header-search-input" type="text" placeholder="검색어">
				<div class="search-icon gray fa fa-search"></div>
				<div class="close-icon"></div>
			</div>
		</div>
		<div class="header-menu">
			<div class="menu-icon fa fa-reorder"></div>
			<div class="side-menu-layer">
				<div class="menu-header">
					<div class="logo">
						<a href="http://localhost:84/index.html">
							ReSell
						</a>
					</div>
					<div class="side-menu close-icon"></div>
				</div>
				<ul class="main-menu">
					<li class="member-area">
						<a href="http://localhost:84/member/login.html">
							<div class="text Log-in-btn">
								로그인
							</div>
						</a>
						<a href="http://localhost:84/member/signup.html">
							<div class="text sign-out-btn">
								회원가입
							</div>
						</a>
					</li>
					<li class="news">
						<a href="http://localhost:84/news/news.html">
							<div class="text">
								News
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li id="market">
						<a href="#">
							<div class="text">
								Market
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li class="free-talk">
						<a href="http://localhost:84/freetalk/freetalk.html">
							<div class="text">
								Free Talk
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li id="my-page">
						<a href="#">
							<div class="text">
								My Page
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li class="log-out">
						<a href="#">
							<div class="text">
								Log-out
							</div>
							<div class="menu-icon fa fa-power-off"></div>
						</a>
					</li>
					<li class="write-btn">
						<a href="#">
							<div class="text">
								판매 등록
							</div>
							<div class="menu-icon glyphicon glyphicon-pencil"></div>
						</a>
					</li>
				</ul>
				<ul class="sub-menu market">
					<li class="sub-title" for="market">
						<div class="sub-menu-icon fa fa-angle-left"></div>
						<div class="text">
							Market
						</div>
					</li>
					<li class="ALL">
						<div class="text">
							ALL
						</div>
						<div class="menu-icon fa fa-angle-right"></div>
					</li>
					<li class="palace">
						<div class="text">
							PALACE
						</div>
						<div class="menu-icon fa fa-angle-right"></div>
					</li>
					<li class="nike">
						<div class="text">
							NIKE
						</div>
						<div class="menu-icon fa fa-angle-right"></div>
					</li>
					<li class="supreme">
						<div class="text">
							SUPREME
						</div>
						<div class="menu-icon fa fa-angle-right"></div>
					</li>
				</ul>
				<ul class="sub-menu my-page">
					<li class="sub-title" for="my-page">
						<div class="sub-menu-icon fa fa-angle-left"></div>
						<div class="text">
							My Page
						</div>
					</li>
					<li class="like-list">
						<a href="http://localhost:84/like/like.html">
							<div class="text">
								찜 목록
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li class="my-written">
						<a href="#">
							<div class="text">
								내가 쓴 글
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li class="buy-list">
						<a href="http://localhost:84/user/purchase.html">
							<div class="text">
								구매 리스트
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li class="sell-list">
						<a href="#">
							<div class="text">
								판매 리스트
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li class="product-inquire">
						<a href="#">
							<div class="text">
								상품 문의
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li class="modify-member-info">
						<a href="http://localhost:84/member/update-user.html">
							<div class="text">
								회원 정보 수정
							</div>
							<div class="menu-icon fa fa-angle-right"></div>
						</a>
					</li>
					<li class="log-out">
						<a href="#">
							<div class="text">
								Log-out
							</div>
							<div class="menu-icon fa fa-power-off"></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="resell-container">
