{{set root=".."}}
{{>header title="판매리스트" cssName="selling-list"}}
<section class="title market-title">
	<span>판매리스트</span>
</section>

<section class="menu-category">
	<ul>
		<li menu-category-detail="selling-all">
			판매중
		</li>
		<li menu-category-detail="selling-processing">
			거래중
		</li>
		<li menu-category-detail="selling-complete" class="active">
			거래완료
		</li>
	</ul>
</section>

<section class="contents-wrapper">
	<div class="list-search-box">
		<input type="text" class="form-control" placeholder="Search">
		<i class="fa fa-search"></i>
	</div>
	<div class="purchase-contents">
		<div class="product-count">
			총 <span>15</span>건
			<div class="all-selected">
				<span>전체선택</span>
				<div check-box id="all-selected" get-checked="false"></div>
			</div>

		</div>
		<ul class="user-list">
			<li class="product-list">
				<div class="product-date">2017/04/02</div>
				<div class="product-img" style="background-image: url('{{root}}/img/shoes.jpg')"></div>
				<div class="product-detail">
					<div class="product-name">컨버스 네이버후드</div>
					<div class="product-price"><i class="fa fa-krw"></i><span>260,000</span></div>
					<ul>
						<li class="product-size"><span>260</span>mm</li>
						<li class="product-quality"><span>새상품</span></li>
						<li class="product-deal"><span>직접거래</span></li>
					</ul>
				</div>
				<ul class="product-detail-view">
					<li>
						<i class="fa fa-comment-o"></i>
						덧글수<span>11</span>
					</li>
					<li>
						<i class="fa fa-eye"></i>
						조회수<span>120</span>
					</li>
					<li>
						<i class="fa fa-heart"></i>
						찜<span>8</span>
					</li>
				</ul>
				<i class="product-detail-arrow fa fa-angle-double-right" ></i>
				<!--만약 구매자가 있다면-->
				<ul class="purchaser-info">
					<li class="purchaser-title">
						구매자
					</li>
					<li class="purchaser-name">
						백수현
					</li>
				</ul>
				<div class="list-selector" check-box name="chk" get-checked="false"></div>
				<!--있다면-->
			</li>
			<li process="processing" class="product-list">
				<div class="product-date">2017/04/02</div>
				<div class="product-img" style="background-image: url('{{root}}/img/shoes.jpg')"></div>
				<div class="product-detail">
					<div class="product-name">컨버스 네이버후드</div>
					<div class="product-price"><i class="fa fa-krw"></i><span>260,000</span></div>
					<ul>
						<li class="product-size"><span>260</span>mm</li>
						<li class="product-quality"><span>새상품</span></li>
						<li class="product-deal"><span>직접거래</span></li>
					</ul>
				</div>
				<ul class="product-detail-view">
					<li>
						<i class="fa fa-comment-o"></i>
						덧글수<span>11</span>
					</li>
					<li>
						<i class="fa fa-eye"></i>
						조회수<span>120</span>
					</li>
					<li>
						<i class="fa fa-heart"></i>
						찜<span>8</span>
					</li>
				</ul>
				<i class="product-detail-arrow fa fa-angle-double-right" ></i>
				<!--만약 구매자가 있다면-->
				<ul class="purchaser-info">
					<li class="purchaser-title">
						구매자
					</li>
					<li class="purchaser-name">
						백수현
					</li>
				</ul>
				<div class="list-selector" check-box name="chk" get-checked="false"></div>
				<!--있다면-->
			</li>
			<li process="complete" class="product-list">
				<div class="product-date">2017/04/02</div>
				<div class="product-img" style="background-image: url('{{root}}/img/shoes.jpg')"></div>
				<div class="product-detail">
					<div class="product-name">컨버스 네이버후드</div>
					<div class="product-price"><i class="fa fa-krw"></i><span>260,000</span></div>
					<ul>
						<li class="product-size"><span>260</span>mm</li>
						<li class="product-quality"><span>새상품</span></li>
						<li class="product-deal"><span>직접거래</span></li>
					</ul>
				</div>
				<ul class="product-detail-view">
					<li>
						<i class="fa fa-comment-o"></i>
						덧글수<span>11</span>
					</li>
					<li>
						<i class="fa fa-eye"></i>
						조회수<span>120</span>
					</li>
					<li>
						<i class="fa fa-heart"></i>
						찜<span>8</span>
					</li>
				</ul>
				<i class="product-detail-arrow fa fa-angle-double-right" ></i>
				<!--만약 구매자가 있다면-->
				<ul class="purchaser-info">
					<li class="purchaser-title">
						구매자
					</li>
					<li class="purchaser-name">
						백수현
					</li>
				</ul>
				<div class="list-selector" check-box name="chk" get-checked="false"></div>
				<!--있다면-->
			</li>
			<li process="cancel" class="product-list">
				<div class="product-date">2017/04/02</div>
				<div class="product-img" style="background-image: url('{{root}}/img/shoes.jpg')"></div>
				<div class="product-detail">
					<div class="product-name">컨버스 네이버후드</div>
					<div class="product-price"><i class="fa fa-krw"></i><span>260,000</span></div>
					<ul>
						<li class="product-size"><span>260</span>mm</li>
						<li class="product-quality"><span>새상품</span></li>
						<li class="product-deal"><span>직접거래</span></li>
					</ul>
				</div>
				<ul class="product-detail-view">
					<li>
						<i class="fa fa-comment-o"></i>
						덧글수<span>11</span>
					</li>
					<li>
						<i class="fa fa-eye"></i>
						조회수<span>120</span>
					</li>
					<li>
						<i class="fa fa-heart"></i>
						찜<span>8</span>
					</li>
				</ul>
				<i class="product-detail-arrow fa fa-angle-double-right" ></i>
				<!--만약 구매자가 있다면-->
				<ul class="purchaser-info">
					<li class="purchaser-title">
						구매자
					</li>
					<li class="purchaser-name">
						백수현
					</li>
				</ul>
				<div class="list-selector" check-box name="chk" get-checked="false"></div>
				<!--있다면-->
			</li>
		</ul>
	</div>
</section>

<section class="more">
	<span>More</span><i class="glyphicon glyphicon-chevron-down"></i>
</section>


{{>footer jsName="selling-list"}}
